*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
.b1{
 width: 100px;
 height: 60px;
background-color: #ae69ee;
color: beige;
border-radius: 10%;
border: none;
transition: 1s;

}
 
.b1:hover{
transform: scale(2);
box-shadow: 0 0 100px red;
background-color: red;

}
#b2{
 width: 100px;
 height: 60px;
background-color: #ae69ee;
color: beige;
border-radius: 10%;
border: none;
transition: 0.4s;

position: absolute;
}

#b2:hover{   
   background-color: red;
    transform: scale(2);
    box-shadow: 0 0 50px red;

}

#bada{
    display:flex;
    justify-content: center;
    align-items: center;
height: 500px;
}



#PARA{
   font-size: larger;
   font-style: normal;
   text-align: center;
   position: relative;
   top: 70px;
   background-color: plum;
   width: 500;
   margin-left: 400px;



}
.chotta{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 40px;
}


#btn1{
    position: absolute;
    
}










